/* $primary-color: ; */
/* $secondary-color: ; */
/* $tertiary-color: ; */
/* $accent-color: ; */
/* $light-background-color: ; */
/* $dark-background-color: ; */
/* $light-font-color: ; */
/* $dark-font-color: ; */
/* $border-color: ; */

/* $font-primary: ; */
/* $font-secondary: ; */

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-base: 16px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 36px;
$font-size-hero: 40px;
