@use "@styles/abstracts/variables" as *;
@use "@styles/abstracts/mixins" as *;

.security {
  grid-area: Security;

  .settings-form {
    position: relative;

    @include flex-column;
    gap: $spacing-sm;

    .form-assets {
      padding: $spacing-sm;
    }

    .form-inputs {
      @include flex-column;
      gap: $spacing-sm;

      input {
        padding: $spacing-sm $spacing-md;

        border: 1px solid var(--border-color);
        border-radius: $border-radius;
        outline: none;

        background: var(--bg-input);

        font-size: $font-size-sm;
        color: var(--text-primary);

        &:focus {
          border-color: var(--primary-color);
        }
        &:disabled {
          opacity: 0.6;
        }
      }
    }

    button {
      position: absolute;
      top: $spacing-xs;
      right: $spacing-md;
      transform: translateY(50%);

      padding: $spacing-sm $spacing-md;

      border: none;
      border-radius: $border-radius;

      background: var(--primary-color);

      font-weight: 600;
      color: rgba(255, 255, 255, 1);

      cursor: pointer;

      &:hover:not(:disabled) {
        background: var(--primary-hover);
      }
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}

@include mobile-small {
  .security {
    .settings-form {
      button {
        position: static;
        transform: translateY(0);
      }
    }
  }
}
