@use "@styles/abstracts/variables" as *;
@use "@styles/abstracts/mixins" as *;

.statistics-page {
  .charts-grid {
    @include flex-column;
    gap: 32px;

    .top-row {
      display: grid;
      grid-template-columns: 40fr 60fr;
      gap: 32px;
    }

    .bottom-row {
      display: grid;
      grid-template-columns: 50fr 50fr;
      gap: 32px;
    }
  }

  .statistics-container {
    height: 100%;
    padding: $spacing-lg;

    @include flex-column;

    border: 1px solid var(--border-color);
    border-radius: $border-radius;

    background: var(--bg-card);

    .chart-grid {
      stroke: var(--border-color);
      stroke-dasharray: 3 3;
    }

    .chart-wrapper {
      * {
        outline: none;
      }
    }
  }
}

@include mobile {
  .statistics-page {
    .charts-grid {
      padding-right: $spacing-md;
      
      overflow: auto;

      .top-row {
        @include flex-column;
      }

      .bottom-row {
        @include flex-column;
      }
    }
  }
}

@include mobile-small {
  .statistics-page {
    .statistics-container {
      height: 380px;
    }
  }
}
